<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="flex flex-col bg-frappe text-text text-2xl tracking-wide">
    <header class="text-center mt-6 mb-2">{{ partial "header.html" . }}</header>
    <main class="w-full mx-auto">
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer class="mt-10 mb-10 text-center text-lg">{{ partial "footer.html" . }}</footer>
  </body>
</html>
