{{ define "main" }}
  <div class="max-w-2xl mx-auto px-6">
    <section>
      <div class="flex flex-col justify-between items-center mb-5">
        <h1 class="text-3xl font-medium text-blue">{{ .Title }}</h1>
        <div class="flex flex-row text-base text-subtext-0 my-4">
          {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := .Date | time.Format "Jan 2, 2006" }}

          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          {{ $spanCSS := "mx-2" }}
          <div class="{{ $spanCSS }}">●</div>
          <div>{{ .WordCount }} words</div>
          <div class="{{ $spanCSS }}">●</div>
          <div>{{ .ReadingTime }} min read</div>
        </div>
      </div>
      <div class="mt-3 mb-6 overflow-clip text-lg">{{ .Content }}</div>

      {{ with .Params.tags }}
        <div class="">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . }}" class="bg-surface-2 text-text text-sm px-2 py-1 mr-1">{{ . }}</a>
            {{ end }}
        </div>
      {{ end}}
    </section>
  </div>
{{ end }}
